---
layout: default
title: Home
---

<br/>
I am a postdoctoral researcher of mathematics at the LAGA Laboratoire, Université Sorbonne Paris Nord, and in IMJ-PRG at Université Paris-Cité. I am part of the group of <a href=https://www.math.univ-paris13.fr/~harpaz/>Yonatan Harpaz</a>. 
Before that I was a postdoc at the University of Zurich, in <a href=http://user.math.uzh.ch/ayoub/>Joseph Ayoub</a>'s research group. Even before, I was a PhD student at the University of Duisburg-Essen in <a href=https://www.esaga.uni-due.de/ag/levine/members/>Marc Levine's group</a>.  <br/> 
<br/>
My interests lie around interactions between homotopy theory and algebraic geometry, in particular within the setting of motivic homotopy theory. <br/> 
I am interested in information one can gather from different motivic invariants for the study of singularities.
In my research I combine the machinery of nearby cycles with the study of invariants for schemes lying in the Grothendieck-Witt ring of the base field; these invariants refine integer-valued invariants of enumerative geometry.  
<br/>

<ul> Some projects I'm working on:
  
<li> A 
<a href="https://www.sciencedirect.com/science/article/pii/S0021869324006768">paper</a>
based on my PhD thesis, in which I prove a local formula refining an algebraic-geomteric version of the Milnor formula on singularities (Journal of Algebra, 2025).
<br/> </li>

<li>
A
<a href="https://arxiv.org/abs/2208.14440">preprint</a>
on defining motivic Euler classes for singular varieties.
<br/> </li>

  <li>
A work in progress with <a href=https://www.emiljacobsen.se/>Emil Jacobsen</a> on the Picard Lefschetz formula for motives.
<br/> </li>

    <li>
A work in progress with <a href=https://web.mathi.uni-heidelberg.de/physmath/espreafico/>Felipe Espreafico Guelerman</a> about motivic and real DT invariants.
<br/> </li>

<li> A work in progress with  <a href=https://nielsfeld.wixsite.com/website/>Niels Feld</a>, <a href=https://www.math.univ-paris13.fr/~harpaz/>Yonatan Harpaz</a>,  <a href=https://tmoulinos.com/>Tasos Moulinos</a>, and  <a href=https://simon-pepin.github.io/>Simon Pepin Lehalleur</a>, on trace formula for singularity categories with duality.
</li>

  <li> A work in progress with  <a href=https://shmckean.github.io/>Stephen McKean</a>, <a href=https://anubhavn.github.io/>Anubhav Nanavaty</a>, and  <a href=https://sites.google.com/view/jessepajwani/Jesse-Pajwani>Jesse Pajwani</a>, on motivic invariants of morphism pairs (a one level higher version of the quadratic Euler characteristic)
</li>

  
  </ul>

Feel free to contact me if you have similar interests or would like to know more. My email is firstname at math dot univ-paris13 dot fr.



<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>


<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
